body {
  position: relative;
  margin: 0;
  font-family: "RalewayRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(to right,rgba(28,29,33, 0.8) 0%,rgba(102,102,102, 0.5) 50%,rgba(28,29,33, 0.8) 100%),
  url('../img/cover.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}


.icon {
  display: inline-block;
}
