body {
  position: relative;
  margin: 0;
  font-family: "RalewayRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.bg-fixed {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  margin: 0;
  color: #fff;
  background: linear-gradient(to right, rgba(#1C1D21, .8) 0%, rgba(#666, .5) 50%, rgba(#1C1D21, .8) 100%), url($img-folder + ("cover-mobile.jpg")) no-repeat;
  background-size: cover;
}

a {
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}


.icon {
  display: inline-block;
}

@include media-breakpoint-up(sm) {

  .bg-fixed {
    background: linear-gradient(to right, rgba(#1C1D21, .8) 0%, rgba(#666, .5) 50%, rgba(#1C1D21, .8) 100%), url($img-folder + ("cover-tablet.jpg")) no-repeat;
    background-size: cover;
  }

}

@include media-breakpoint-up(lg) {

  .bg-fixed {
    background: linear-gradient(to right, rgba(#1C1D21, .8) 0%, rgba(#666, .5) 50%, rgba(#1C1D21, .8) 100%), url($img-folder + ("cover.jpg")) no-repeat;
    background-size: cover;
  }

}
