body {
  position: relative;
  margin: 0;
  font-family: "RalewayRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(to right, rgba(#1C1D21, .8) 0%, rgba(#666, .5) 50%, rgba(#1C1D21, .8) 100%), url('../img/cover.jpg') no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}


.icon {
  display: inline-block;
}
