.mainNavigation {
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: rgba(29,29,31,.9);
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  img {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: $navbar-padding-x / 2;
    animation: rotate 3s infinite linear;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-family: "Arciform";
    font-weight: 100;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $text-color;

    &--blue {
      color: $blue;
      font-size: 28px;
      font-weight: 900;
    }

    &--small {
      font-size: 14px;
      letter-spacing: 5px;
    }
  }
}

.navbar-nav {
  padding-top: 10px;
  background-color: red;

  .nav-item {
    border-bottom: 1px solid $darkGray;

    &:last-child {
      border-bottom: none;
    }
  }

  .nav-link {
    font-family: "RalewayBold", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $navbar-color;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $navbar-hover-color;
    }

    &.disabled {
      color: $navbar-disabled-color;
      cursor: default;
    }
  }

  .active > .nav-link,
  .nav-link.active,
  .nav-link.show,
  .show > .nav-link {
    color: $navbar-active-color;
  }
}

.navbar-toggler {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  border: $border-width solid $navbar-toggler-color; // remove default button style
  outline: none;
  transition: border-color .5s ease;
  @include border-radius($navbar-toggler-border-radius);
  @include hover-focus {
    text-decoration: none;
    outline: none;
    border-color: $navbar-toggler-hover-color;
  }
  // Opinionated: add "hand" cursor to non-disabled .navbar-toggler elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.mainNavigation--closed .navbar-toggler::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 18px;
  height: 2px;
  background-color: $navbar-toggler-color;
  box-shadow: 0 6px 0 0 $navbar-toggler-color, 0 12px 0 0 $navbar-toggler-color;
  transition: all .5s ease;
}

.mainNavigation--closed .navbar-toggler:hover::before {
  background-color: $navbar-toggler-hover-color;
  box-shadow: 0 6px 0 0 $navbar-toggler-hover-color, 0 12px 0 0 $navbar-toggler-hover-color;
}

.mainNavigation--closed .navbar-toggler:active::before {
  background-color: $navbar-toggler-active-color;
  box-shadow: 0 6px 0 0 $navbar-toggler-active-color, 0 12px 0 0 $navbar-toggler-active-color;
}

.mainNavigation--opened .navbar-toggler::before,
.mainNavigation--opened .navbar-toggler::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 5px;
  width: 18px;
  height: 2px;
  background-color: $navbar-toggler-color;
  transition: all .5s ease;
}

.mainNavigation--opened .navbar-toggler::before {
  transform: rotate(45deg);
}

.mainNavigation--opened .navbar-toggler::after {
  transform: rotate(-45deg);
}

.mainNavigation--opened .navbar-toggler:hover::before,
.mainNavigation--opened .navbar-toggler:hover::after {
  background-color: $navbar-toggler-hover-color;
}

.mainNavigation--opened .navbar-toggler:active::before,
.mainNavigation--opened .navbar-toggler:active::after {
  background-color: $navbar-toggler-active-color;
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container-fluid,
        > .container {
          padding-right: 0;
          padding-left: 0;
        }
      }
      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }
        // For nesting containers, have to redeclare for alignment purposes
        > .container-fluid,
        > .container {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important;
          // stylelint-disable-line declaration-no-important
          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}

// .navbar-dark {
//
//   .navbar-nav {
//     .nav-link {
//       color: $navbar-color;
//       @include hover-focus {
//         color: $navbar-hover-color;
//       }
//
//       &.disabled {
//         color: $navbar-disabled-color;
//       }
//     }
//
//     .active > .nav-link,
//     .nav-link.active,
//     .nav-link.show,
//     .show > .nav-link {
//       color: $navbar-active-color;
//     }
//   }
//
//   .navbar-toggler {
//     border-color: $navbar-toggler-border-color;
//
//     @include hover-focus {
//       text-decoration: none;
//       border-color: #8d8d8d;
//     }
//   }
//
//
//
//   .navbar-toggle:hover {
//     background-color: red;
//   }
//
//   .navbar-toggler-icon {
//     background-image: $navbar-dark-toggler-icon-bg;
//     display: none;
//   }
//
//   .navbar-text {
//     color: $navbar-dark-color;
//
//     a {
//       color: $navbar-active-color;
//       @include hover-focus {
//         color: $navbar-active-color;
//       }
//     }
//   }
// }
