.mainHeader {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  &-content {
    position: relative;
    z-index: 10;
    align-self: center;
    text-align: center;
    color: #fff;
  }

  &__header {
    margin-bottom: 10px;
    font-family: "RalewayBold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  &__text {
    font-family: "LibreBaskervilleItalic", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto; /* Эффект скроллинга во время печати */
    white-space: nowrap; /* Печать одной прямой строки */
    overflow: hidden; /* Скрывает содержимое до анимации */
    animation: typing 3.5s steps(40, end);
  }

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes move {
  0% {
    margin-top: 10px;
  }

  100% {
    margin-top: 60%;
  }
}

.down {
  position: absolute;
  left: 50%;
  bottom: 60px;
  z-index: 10;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 17px;
    height: 10px;
    margin-left: -9px;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@include media-breakpoint-up(sm) {

  .mainHeader__header {
    font-size: 45px;
    line-height: 50px;
  }

  .mainHeader__text {
    font-size: 35px;
    line-height: 40px;
  }

}

@include media-breakpoint-up(md) {

  .mainHeader__header {
    font-size: 50px;
    line-height: 55px;
  }

  .mainHeader__text {
    font-size: 40px;
    line-height: 45px;
  }

}

@include media-breakpoint-up(lg) {

  .mainHeader__header {
    font-size: 55px;
    line-height: 60px;
  }
    
}
