.mainFooter {
  margin-top: -170px;
  margin-bottom: 30px;

  p {
    margin-bottom: 10px;
    line-height: 18px;
  }
}

.social {
  display: flex;
  text-align: right;
}

.socialLink {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  border: 2px solid $white;
  transition: background-color .3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover .socialLink__icon {
    fill: $white;
  }

  &__fb {
    border-color: $social-link-border-color-fb;
    &:hover {
      background-color: $social-link-hover-bg-fb;
    }
  }
  &__insta {
    border-color: $social-link-border-color-insta;
    &:hover {
      background-color: $social-link-hover-bg-insta;
    }
  }
  &__tw {
    border-color: $social-link-border-color-tw;
    &:hover {
      background-color: $social-link-hover-bg-tw;
    }
  }

  &__icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    fill: $white;

    &--fb {
      fill: $social-icon-fill-fb;
    }
    &--insta {
      fill: $social-icon-fill-insta;
    }
    &--tw {
      fill: $social-icon-fill-tw;
    }
  }
}

@include media-breakpoint-up(md) {

  .mainFooter {

    p {
      margin-bottom: 0;
      line-height: 30px;
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;
  }

}
